[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "maskRangeR"]
	path = maskRangeR
	url = https://github.com/cran/maskRangeR
[submodule "meteR"]
	path = meteR
	url = https://github.com/cmerow/meter
[submodule "rangeModelMetadata"]
	path = rangeModelMetadata
	url = https://github.com/cmerow/rangemodelmetadata
