[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "meteR"]
	path = meteR
	url = https://github.com/cmerow/meter
	shallow = true
	registered = true
[submodule "rangeModelMetadata"]
	path = rangeModelMetadata
	url = https://github.com/cmerow/rangemodelmetadata
	shallow = true
	registered = true
